@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="form-group">
    <h2>Excel Raporları</h2>
    <br />
    <a href="/Report/StaticReport/" class="btn btn-outline-info">Statik Rapor</a>
    <a href="/Report/ContactReport/" class="btn btn-outline-info">Mesaj Raporları</a>
    <a href="/Report/AnnouncementReport/" class="btn btn-outline-info">Duyuru Raporları</a>
</div>
