@model AgriculturePresentationProject.Models.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Düzenleme Sayfası</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Mail Adresi</label>
                    <input type="text" class="form-control" placeholder="yeni mail adresinizi giriniz" asp-for="Mail">
                </div>
                <div class="form-group">
                    <label>Yeni Telefon Numaranızı Giriniz</label>
                    <input type="text" class="form-control" placeholder="yeni telefon numaranızı giriniz" asp-for="Phone">
                </div>
                <div class="form-group">
                    <label>Yeni Şifrenizi Giriniz</label>
                    <input type="text" class="form-control" placeholder="yeni şifrenizi giriniz" asp-for="Password">
                </div>
                <div class="form-group">
                    <label>Yeni Şifrenizi Tekrar Giriniz</label>
                    <input type="text" class="form-control" placeholder="yeni şifrenizi terkrar giriniz" asp-for="ConfirmPassword">
                </div>
                <button type="submit" class="btn btn-info">Kaydet</button>
            </form>
        </div>
    </div>
</div>


